h1 {
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#firstHr {
    width: 45%;
}

#container {
    display: flex;
}

#H2 {
    margin-left: 500px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#secondHr {
    width: 75%;
}

#see {
    margin-left: 20px;
    display: flex;
    font-weight: 500;
    color: grey;
}

#search {
    margin-left: 210px;
}

#mainscript {
    display: flex;
    justify-content: center;
}

#statement {
    padding: 10px 0px;
    margin-right: 20px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.one {
    display: flex;
}

.inbox {
    padding-right: 5px;
}

#result1 {
    padding-left: 10px;
    color: grey;
    font-weight: 700;
}

.plus {
    padding-left: 10px;
}

#before-start {
    background-color: pink;
}

#running {
    background-color: aquamarine;
}

#end {
    background-color: gainsboro;
}

#list {
    background-color: rgba(230, 235, 232, 0.4);
    border-radius: 5%;
    margin: 15px 0px;
    margin-right: 20px;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.newScript {
    padding-left: 20px;
    color: grey;
}

.addNew {
    border: none;
    padding-right: 15px;
    background-color: rgba(230, 235, 232, 0);
}